Laws_All.csv filter=lfs diff=lfs merge=lfs -text
laws filter=lfs diff=lfs merge=lfs -text
Laws_Embeddings.npy filter=lfs diff=lfs merge=lfs -text
Laws_SelectedGreedy.csv filter=lfs diff=lfs merge=lfs -text
Laws_SelectedKMeans.csv filter=lfs diff=lfs merge=lfs -text
laws_Selected.csv filter=lfs diff=lfs merge=lfs -text
